@import '../../scss/abstracts/constants';

.review {
  &__form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .form {
      &__content {
        width: 100%;
        &--wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .item {
          &__wrapper {

          }
          &__core {
            min-width: 150px;
            max-width: 300px;
            width: 100%;
          }
        }
      }
      &__button {
        margin-bottom: 8px;
        margin-left: 30px;
      }
    }
  }
}
