<div class="review">
  <div class="review__form-container form">
    <form class="form__content" [formGroup]="reviewForm">
      <div class="form__content--wrapper item">

        <div class="item__wrapper">
          <mat-form-field class="item__core">
            <input
              matInput
              placeholder="{{'Your name' | translate}}"
              formControlName="name"
              maxlength="20"
            >
            <mat-hint align="end">
              {{reviewForm.get('name').value.length}} / 20
            </mat-hint>
            <mat-error *ngIf="reviewForm.hasError('required', 'name')">
              {{ 'REQUIRED_ERROR' | translate }}
            </mat-error>
            <mat-error *ngIf="serverValidationForm.isServerValidationError('name')">
              {{ serverValidationForm.getServerValidationError('name') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="item__wrapper">
          <mat-form-field class="item__core">
            <input
              matInput
              placeholder="{{'Your e-mail' | translate}}"
              formControlName="email"
            >
            <mat-hint align="end">
              {{reviewForm.get('email').value.length}} / 50
            </mat-hint>
            <mat-error *ngIf="reviewForm.hasError('email', 'email')">
              {{ 'EMAIL_ERROR' | translate }}
            </mat-error>
            <mat-error *ngIf="reviewForm.hasError('required', 'email')">
              {{ 'REQUIRED_ERROR' | translate }}
            </mat-error>
            <mat-error *ngIf="serverValidationForm.isServerValidationError('email')">
              {{ serverValidationForm.getServerValidationError('email') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="item__wrapper">
          <mat-form-field class="item__core">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="8"
              placeholder="{{'Your feedback' | translate}}"
              formControlName="message"
              maxlength="255"
            >
            </textarea>
            <mat-hint align="end">
              {{reviewForm.get('message').value.length}} / 255
            </mat-hint>
            <mat-error *ngIf="serverValidationForm.isServerValidationError('message')">
              {{ serverValidationForm.getServerValidationError('message') }}
            </mat-error>
          </mat-form-field>
        </div>

      </div>
    </form>
    <div class="form__button">
      <button
        *ngIf="isRequestComplete(); else spinner"
        (click)="sendReview()"
        mat-raised-button
        color="accent"
        [disabled]="!reviewForm.valid"
      >
        {{'Submit' | translate}}
      </button>
    </div>
    <ng-template #spinner>
      <progress-spinner [diameter]="50"></progress-spinner>
    </ng-template>
  </div>
</div>

