<div class="registration">
  <form class="registration__form form" [formGroup]="registerFormGroup">

    <mat-form-field class="form__item">
      <input
        matInput
        placeholder="E-mail"
        formControlName="email"
        maxlength="50"
      >
      <mat-hint align="end">
        {{registerFormGroup.get('email').value.length}} / 50
      </mat-hint>
      <mat-error *ngIf="registerFormGroup.hasError('email', 'email')">
        {{ 'EMAIL_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="registerFormGroup.hasError('required', 'email')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="serverValidationForm.isServerValidationError('email')">
        {{ serverValidationForm.getServerValidationError('email') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__item">
      <input
        matInput
        placeholder="{{'Password' | translate}}"
        formControlName="password"
        maxlength="30"
        type="password"
      >
      <mat-hint align="end">
        {{registerFormGroup.get('password').value.length}} / 30
      </mat-hint>
      <mat-error *ngIf="registerFormGroup.hasError('required', 'password')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="serverValidationForm.isServerValidationError('password')">
        {{ serverValidationForm.getServerValidationError('password') | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__item">
      <input
        matInput
        placeholder="{{'Confirmation password' | translate}}"
        formControlName="password_confirmation"
        maxlength="30"
        type="password"
      >
      <mat-hint align="end">
        {{registerFormGroup.get('password_confirmation').value.length}} / 30
      </mat-hint>
      <mat-error *ngIf="registerFormGroup.hasError('notSame', 'password_confirmation')">
        {{'Passwords do not match' | translate}}
      </mat-error>
    </mat-form-field>

    <div class="form__document-links documents">
      <p class="documents__item documents__item--first" (click)="openIframePDFDialog(privacyPDFSrc)">
        {{'Privacy' | translate}}
      </p>
      <p class="documents__item" (click)="openIframePDFDialog(agreementPDFSrc)">
        {{'User agreement' | translate}}
      </p>
    </div>

    <mat-checkbox class="form__checkbox" formControlName="usage_policy">
      {{'I agree to the terms of service' | translate}}
      <mat-error *ngIf="serverValidationForm.isServerValidationError('usage_policy')">
        {{ serverValidationForm.getServerValidationError('usage_policy') | translate }}
      </mat-error>
    </mat-checkbox>

    <button
      *ngIf="isRequestComplete(); else spinner"
      (click)="submit()"
      mat-raised-button
      color="accent"
      class="form__button"
      [disabled]="!registerFormGroup.valid"
    >
      {{'Register' | translate}}
    </button>

    <p class="form__login-text">{{'Have an account?' | translate}}
      <span class="form__login-link" (click)="openLoginDialog()">{{'Sign in' | translate}}</span>
    </p>

    <ng-template #spinner>
      <progress-spinner [diameter]="50"></progress-spinner>
    </ng-template>

  </form>
</div>
