@import 'abstracts/constants';

.login {
  &__form {
    display: flex;
    flex-direction: column;
    .form {
      &__item {

      }
      &__button {
        margin-top: 10px;
      }
      &__registration-text {
        margin-top: 10px;
      }
      &__registration-link {
        cursor: pointer;
        color: $green;
      }
    }
  }
}
